* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

html {
  font-family: sans-serif;
}
